# Code::Blocks files
scorepress-gtk.depend
scorepress-gtk.layout

# Configure Output
config.status
*.log
src/config.hh

# Compiled Object files
build/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
