# Eclipse Project files
.cproject
.project
.settings/

# Configure Output
autom4te.cache
config.status
*.log
Makefile
config.hh
mainwnd-ui.xml.hh

# Compiled Object files
build/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
